/*  
/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

background colour           bgc               #fff
content box colour          cbc               #fff

box background colour       bbgc              #567890
box border colour           bbc               #e2f2ef
box text colour             btc               #123456

header background colour    hbgc              #ffd184
header border colour        hbc               #536f72
header text colour          htc               #536f72

highlight                   h1c               #ffd184

footer background           fbgc              #ffd184
*/


/***** layout ******/

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: /*bgc*/#fff;

}

.scrollable {    
height: 100%;
overflow: auto;
}

.container {
background-color: /*cbc*/#fff; 
margin-top: 0px;
min-height: 100%;
position:relative;
}

#header {
background-color: /*hbgc*/#536f72;
color: /*htc*/#536f72;
}

#header a {
  display: block;
}

#header h2, h3, h4 {
display: inline;
}

#content {

}

#footer {
position: relative;
height:40px;
margin-top: -40px;
background: /*fbgc*/#ffd184;
}

#footer h4 {
position: absolute;
right: 10px;
bottom: 10px;
}


/*.alert {
margin-bottom: 0px;
padding: 4px;
}

label {
display: inline;
margin-left: 10px
}*/

/*.make-switch label {
margin-left: 0px;
}*/

/*.container-fluid {
padding: 0;
margin: 0;
}*/

/*#header select {
margin: 10px;
}*/


/* Project selection view */

#project_selection_view {
position: absolute;
right: 20px;
top: 25px;
text-align: middle;
font-size: 16px;
}

#project_selection_view h4 {
display:inline-block;
height: 40px;
margin-left: 8px;
font-size: 16px;
}

#settingsBtn {
margin-top: -8px;
padding: 4px 8px;
}

/* Player */

/* Player's settings */

#realTimeSwitch {
margin-bottom: 10px;
}

#realTimeSwitch span {
padding-left: 8px;
padding-right: 8px;
}

#playerSettingsModal #realTimeSettings label, #playerSettingsModal #historicalSettings label {
width: 160px;
display: inline-block;
}

#realTimeSettings h4, #historicalSettings h4 {
margin-top: 16px;
display: block;
}

#stoppoint {
position: absolute;
}

/* Monitor Controls */

#route_select label {
margin: 10px;
}

#route_select input {
margin: 8px;
}


/* Maps */

.map_item { 
	height: 400px; 
	width: 500px;
}

path {
  stroke-width: 5px;
  stroke: #19B8FF ;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.hover {
  stroke-width: 10px;
  stroke: #19B8FF;
  stroke-linejoin: round;
  stroke-linecap: round;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

/* charts */

vega canvas.marks {

}


