<div class="select_project form">
	<div id="bla" class="message">
	</div>
	<form class="form-inline span8">
	  <div class="control-group">
	    <label class="control-label" for="selectProjectname">Project</label>
	    <div class="controls">
	      <select class="select projectname span8" id="selectProjectname"></select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="selectScenarioname">Scenario</label>
	    <!-- <div class="controls"> -->
	      <select class="select scenarioname span7" id="selectScenarioname" placeholder="Select scenario"></select>
	    <!-- </div> -->
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn load">Load</button>
	    </div>
	  </div>
	</form>
</div>
