<h2>Welcome to Videre Demo!</h2>
<div class="select_project form">
	<h4></h4>
	<div class="message">
	</div>
	<form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="selectProjectname">Project</label>
	    <div class="controls">
	      <select class="select projectname" id="selectProjectname"></select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="selectScenarioname">Scenario</label>
	    <div class="controls">
	      <select class="select scenarioname" id="selectScenarioname" placeholder="Select scenario"></select>
	    </div>
	  </div>
	  <div class="control-group">
	  	<div class="controls">
	      <button type="submit" class="btn load">Load</button>
	  	</div>
	  </div>
	</form>
</div>
