<div class="monitor">
	<div class="message">
	</div>
	<div class="date">
		<label>Current time:</label>
		<span class="clock">CLOCK</span>
	</div>
	<div class="player">
		<span class="btn-group playerBtn" data-toggle="buttons">
	        <label class="btn btn-primary active"><input type="radio" name="options" class="playBtn"><i class="glyphicon glyphicon-play"></i></input></label>
	        <label class="btn btn-primary"><input type="radio" name="options" class="pauseBtn"> <i class="glyphicon glyphicon-pause"></i></input></label>
        </span>
	</div>
	<div class="map">MAP CONTAINER</div>
	<div class="chart">CHART CONTAINER</div>
</div>