<div class="monitor">
	<div class="date container">
		<label>Current time:</label>
		<span id="clock">CLOCK</span>
	</div>
	<div class="player container">
		<span class="btn-group" data-toggle="buttons" id="playerBtn">
	        <label class="btn btn-primary active" id="playLabel"><input type="radio" name="options" id="playBtn"><i class="glyphicon glyphicon-play"></i></input></label>
	        <label class="btn btn-primary" id="pauseLabel"><input type="radio" name="options" id="pauseBtn"> <i class="glyphicon glyphicon-pause"></i></input></label>
        </span>
	</div>
	<div class="map container">MAP CONTAINER</div>
	<div class="chart container">CHART CONTAINER</div>
</div>